<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    ><header>><img src="../public/images/logo-mercado-liebre.svg" alt="Logo" width="300">
    <p>Lugar para poner la barra de búsqueda</p>
    <br>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li><a href="#">Ofertas</a></li>
        <li><a>Tiendas Oficiales</a></li>
        <li><a>Vender</a></li>
        <li><a>Ayuda</a></li>
    </ul>
    <ul>
        <li>Creá tu cuenta</li>
        <li>Ingresá</li>
        <li>Mis compras</li>
    </ul>
    </header>
    <main>
        <section>
            <p><strong>Basado en tu última visita</strong></p>
            <img src="../public/images/img-cafetera-moulinex.jpg"></img>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="../public/images/img-macbook-pro-2019.jpg"></img>
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <img src="../public/images/img-samsung-galaxy-s10.jpg"></img>
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="../public/images/img-tv-samsung-smart.jpg"></img>
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43</p>
        </section>
        <section>
            <p><strong>Ofertas</strong></p>
            <img src="../public/images/img-cafetera-moulinex.jpg"></img>
            <p>$6.770</p>
            <p>40% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="../public/images/img-macbook-pro-2019.jpg"></img>
            <p>$230.000</p>
            <p>20% off</p>
            <p>MacBook Pro 2019</p>
            <img src="../public/images/img-samsung-galaxy-s10.jpg"></img>
            <p>$70.500</p>
            <p>10% off</p>
            <p>Samsung Galaxy S10</p>
            <img src="../public/images/img-tv-samsung-smart.jpg"></img>
            <p>$23.200</p>
            <p>5% off</p>
            <p>SmartTv Samsung 43</p>
        </section>
    </main>
    <footer>
        <p><strong>Pagá con tarjeta o en efectivo</strong></p>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <p><strong>Envío gratis desde $ 2.500</strong></p>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <p><strong>Seguridad, de principio a fin</strong></p>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
</body>
</html>