<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/login.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <a href="/"><img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="300"></a>
            <p id="search"><input type="search" value="Buscar productos,marcas"><i id="lupa" class="fas fa-search"></i>
            </p>
            <p id="texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="encabezadoinferior">
        <ul class="navbar" type="none">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="navbar2" type="none">   
            <li>Creá tu cuenta<i class="fas fa-address-card"></i></li>
            <li>Ingresá<i class="fas fa-sign-in-alt"></i>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
    <div class="formulario">
        <form action="/registro" method="post">
        <p>
            <label for="Nombre de usuari@"></label>
            <input type="text" placeholder="Nombre de usuari@">
        </p>
        <p>
            <label for="Contraseña"></label>
            <input type="password" placeholder="Contraseña">
        </p>
        <p>
            <label for="Enviar"></label>
            <input type="submit" class="enviar">
        </p>
        </form>
    </div>
    </main>
    <footer>
        <div class="maxfooter">
            <div class="minifooter">
                <i id="card" class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="minifooter">
                <i id="regalo" class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="minifooter">
                <i id="persona" class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </div>
    <div>
        <p id="copy"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </div>
    </footer>
</body>
</html>