<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/registro.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="encabezado">
            <img id="logo" src="/images/logo-mercado-liebre.svg" alt="Logo" width="300">
            <p id="search"><input type="search" value="Buscar productos,marcas"><br><i id="lupa" class="fas fa-search"></i>
            </p>
            <br>
            <p id="texto"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="encabezadoinferior">
        <ul class="navbar" type="none">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul class="navbar2" type="none">   
            <br>
            <li>Creá tu cuenta<i class="fas fa-address-card"></i></li>
            <li>Ingresá<i class="fas fa-sign-in-alt"></i>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
    <div class="formulario">
        <form action="/registro" method="post">
        <p>
            <label for="Nombre y apellido"></label>
            <input type="text" placeholder="Nombre y apellido">
        </p>
        <p>
            <label for="Nombre de usuari@"></label>
            <input type="text" placeholder="Nombre de usuari@">
        </p>
        <p>
            <label for="Fecha de nacimiento"><b>Fecha de nacimiento</b></label>
            <input type="date">
        </p>
        <p>
            <label for="Domicilio"></label>
            <input type="text" placeholder="Domicilio">
        </p>
    <div class="opciones">
        <p>
            <label for="Perfil del usuario"><b>Perfil del usuario:</b></label>
            <br>
        <div>
            <input type="radio" name="utilidad" value="Comprar"><label>Comprador</label>
        </div>
        <div>
            <input type="radio" name="utilidad" value="Vender"><label>Vendedor</label>
        </div>
        
        <p>
            <label for="Categorías de interés"><b>Categorías de interés:</b></label>
            <br>
        <div>
            <input type="checkbox" name="Categoria" value="Electro"><label for="Electro">Electro</label>
        </div>
        <div>
            <input type="checkbox" name="Categoria" value="Moda"><label for="Moda">Moda</label>
        </div>
        <div>
            <input type="checkbox" name="Categoria" value="Hogar"><label for="Hogar">Hogar</label>
        </div>
        <div>
            <input type="checkbox" name="Categoria" value="Jugueteria"><label for="Jugueteria">Jugueteria</label>
        </div>
        <div>
            <input type="checkbox" name="Categoria" value="Vida Sana"><label for="Vida Sana">Vida Sana</label>
        </div>
        </p>
    </div>
        <p>
            <label for="Foto de usuario"><b>Foto de usuario</b></label>
            <input type="file">
        </p>
        <p>
            <label for="Contraseña"><b>Contraseña</b></label>
            <input type="password">
        </p>
        <p>
            <label for="Confirmar contraseña"><b>Confirmar contraseña</b></label>
            <input type="password">
        </p>
        <p>
            <label for="Enviar"></label>
            <input type="submit" >
        </p>
        <p>
            <label for="Cancelar"></label>
            <input type="reset" >
        </p>
        </form>
    </div>
    </main>
    <footer>
        <i id="color" class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <i id="colorr" class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <i id="colorrr" class="fas fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <p id="copy"><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
</body>
</html>