*{
    font-family: 'Roboto', sans-serif;
}
header{
    background-color:  #EAC926;
}
#search{
    padding-left: 20px;
}
#lupa{
    background-color: #ebebebe0;
    padding: 2px;
    border: solid 1px #000000 ;
    margin: 1px;
}
main{
    width: 90%;
    margin: 10px auto;
}
h2{
    font-size: 24px;
}
.precio{
    font-size: 18px;
}
.descripcion{
    font-size: 16px;
}
h3{
    color: #666;
}
#texto{
  text-align: center;
}
.burger-menu{
    text-align: center;
    color: white;
    font-size: 30px;
    background-color: #1259c3;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
}
footer{
    text-align: center;
}
#copy{
    text-align: left;
}
#color{
    color: #1259c3;
    font-size: 2em;
}
#colorr{
    color: #1259c3;
    font-size: 2em;
}
#colorrr{
    color: #1259c3;
    font-size: 2em;
}
